.app-check {
  width: 20px;
  height: 20px;
  margin: 1%;
}

.errmsg {
  color: red;
}

.navbar-link {
  color: white;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.welcome-heading {
  color: blue;
  margin: 50px 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.role-paragraph {
  text-align: center;
  font-size: x-large;
}

.add-employee-button {
  margin: 20px 0 20px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
